// app
.app {
    height: 100vh;
    width: 65%;
    display: flex;
    margin: auto;
    align-items: center;
    // Container
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;    
        // Box 
        .box {
            padding: 2rem 2.8rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            // Info
            .info {
                margin-bottom: 4rem;
                h1 {
                    color: $very-light-gray;
                    text-transform: uppercase;
                    line-height: 1.6;
                    font-size: 1.95rem;
                    margin-top: 1.1rem;
                    margin-bottom: 1.1rem;
                    font-family: 'Big Shoulders Display', cursive;
                }
                p {
                    color: $transparent-white;
                    font-size: .92rem;
                    line-height: 1.6;                
                }
            }

            &:first-child {
                background-color: $bright-orange;
                border-top-left-radius: $border-radius-value;
                border-bottom-left-radius: $border-radius-value;
            }

            &:nth-child(2) {
                background-color: $dark-cyan;
            }

            &:last-child {
                background-color: $very-dark-cyan;
                border-top-right-radius: $border-radius-value;
                border-bottom-right-radius: $border-radius-value;
            }
        }
    }
}

// End of app

@media (max-width: 767.98px) {
    // app
    .app {
        width: 100%;
        height: 100%;
        // Container
        .container {
            grid-template-columns: 1fr;
            // Box 
            .box {
                // Info
                .info {
                    margin-bottom: 1rem;
                    h1 {
                        font-size: 1.85rem;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }
                }
                &:first-child {
                    border-top-left-radius: $border-radius-value;
                    border-top-right-radius: $border-radius-value;
                    border-bottom-left-radius: 0;

                }
                &:last-child {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: $border-radius-value;
                    border-bottom-right-radius: $border-radius-value;
                }
            }
        }
    }
    // End of app
}


@media (min-width: 768px) and (max-width: 991.98px){
    // app
    .app {
        height: 100vh;
        width: 100%;
        // Container
        .container {
            // Box 
            .box {
                // Info
                .info {
                    margin-bottom: 2.5rem;
                }
            }
        }
    }
    // End of app
}